<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>More Images</title>
  <meta name="description" content="Area Images">
  <style>
  	#img{
	    height: 250px;
		width: 300px;
  	}
  </style> 
</head>
<body>
	<h1>Changes throughout Chicago</h1>
	<div class="container">
		<div class="row">
			<h3>1117 N. Cleveland St.</h3>
			<img id="img" src="Geo Pictures/1117 N. Cleveland St./Cleveland St. 1980.jpg">
		  	<img id="img" src="Geo Pictures/1117 N. Cleveland St./Cleveland St. 1990.jpg">
			<img id="img" src="Geo Pictures/1117 N. Cleveland St./Cleveland St. 2000.jpg">
		</div> 
		<div class="row">
			<h3>Buckingham Fountain</h3>
			<img id="img" src="Geo Pictures/Buckingham Fountain/Buckingham Fountain 1970.jpg">
		  	<img id="img" src="Geo Pictures/Buckingham Fountain/Buckingham Fountain 1980.jpg">
			<img id="img" src="Geo Pictures/Buckingham Fountain/Buckingham Fountain 1990.jpg">
		</div>
		<div class="row">
			<h3>Willis Tower</h3>
			<img id="img" src="Geo Pictures/Willis Tower/Willis Tower 1974.jpg">
		  	<img id="img" src="Geo Pictures/Willis Tower/Willis Tower 1980.jpg">
			<img id="img" src="Geo Pictures/Willis Tower/Willis Tower 1990.jpg">
		</div> 
	</div> 
</body>
</html>